<header class="batman">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p class="text-center">I AM BATMAN</p>
            </div>            
        </div>
    </div>
</header>