<header class="superman">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p class="text-center">This looks like a job for Superman</p>
            </div>            
        </div>
    </div>
</header>